
@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/MyriadProLight.eot');
    src: url('../fonts/MyriadProLight.eot') format('embedded-opentype'),
         url('../fonts/MyriadProLight.woff2') format('woff2'),
         url('../fonts/MyriadProLight.woff') format('woff'),
         url('../fonts/MyriadProLight.ttf') format('truetype'),
         url('../fonts/MyriadProLight.svg#MyriadProLight') format('svg');
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.logo{
	float: left;
}
.top-menu{
	float: left;
	font-size: 16px;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	margin-top: 12px !important;
}
.top-menu li{
	float: left;
	list-style: none;
	margin-right: 11px;
	padding: 8px 5px 20px 5px;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom: 0;
	border-radius: 5px 5px 0 0px;
}
	.top-menu li:hover{
		background-color: #f0f0f0;
		border: 1px solid #d9d9d9;
		border-bottom: 0;
	}
.houzz-header-secondary{
	background: #f0f0f0;
}
.top-sprite{
	background-image: url(../images/new/top-sprite.png);
    background-repeat: no-repeat;
    display: block;
}
.search-block{
	float: left;
	margin-top: 14px;
	position: relative;
}
	.search-block input[type="search"]{
		padding-left: 30px;
		border: 1px solid #1e1e1e;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 16px;
		padding-top: 5px;
		width: 128px;
	}
.search-icon{
	 width: 18px !important;
     height: 19px !important;
     background-position: -5px -78px;
     border: 0;
     outline: 0;
     background-color: transparent;
     position: absolute;
     left: 7px;
     top: 5px;
}
.search-block input[type="search"]::-webkit-input-placeholder {color:#bcbcbc;}
.search-block input[type="search"]::-moz-placeholder          {color:#bcbcbc;}
.search-block input[type="search"]:-moz-placeholder           {color:#bcbcbc;}
.search-block input[type="search"]:-ms-input-placeholder      {color:#bcbcbc;}

.right-block-icon{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}
.basket-icon{
	width: 33px;
    height: 27px;
    background-position: -5px -5px;
    display: block;
    float: left;
    cursor: pointer;
    font-family: 'MyriadProLight';
    text-align: center;
    color: #000 !important;
    font-size: 14px;
    padding-right: 6px;
    padding-top: 1px;
    position: relative;
}
.enter-icon{
	width: 30px;
	display: block;
	float: left;
    height: 26px;
    background-position: -5px -42px;
    cursor: pointer;
    margin-left: 12px;
    position: relative;
}
	.tooltip{
		position: absolute;
		font-family: 'MyriadProLight';
		font-size: 16px;
		color: #000;
		display: block;
		width: 190px;
		text-align: center;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		padding: 5px 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		bottom: -45px;
  		left: -150px;
  		visibility: hidden;
  		opacity: 0;
  		-webkit-transition: 0.4s opacity ;
  		-o-transition: 0.4s opacity ;
  		transition: 0.4s opacity ;
	}
		.tooltip:before{
			content: "";
			display: block;
			width: 28px;
			height: 13px;
			background: url(../images/new/tool.png);
			position: absolute;
			margin-top: -18px;
  			margin-left: 150px;
		}
		.tooltip-b{
			width: 210px;
		}
			.right-block-icon a:hover .tooltip{
				visibility: visible;
				opacity: 1;
			}
.menu-container a{
	font-size: 14px;
	color: #343434;
	text-transform: uppercase;
	font-family: Arial,sans-serif !important;
}
	.menu-container a:hover{
		background-color: transparent !important;
	}

.header-nav-dropdown-menu:before{
	content: "";
	display: block;
	width: 28px;
	height: 13px;
	background: url(../images/new/tool.png);
	position: absolute;
	margin-top: -13px;
  	margin-left: 23px;
}
.with-bg{
	background-color: #f0f0f0 !important;
}
.houzz-header-secondary .header-nav-rooms .header-nav-room-children li.group-topic-item .topic-item{
	font-size: 14px;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 400 !important;
}
.header-nav-dropdown-menu a{
	color: #343434;
}
.top-panel{
	width: 980px;
	margin: auto;
}
.slide-sprite{
    background-image: url(../images/new/slide.png);
    background-repeat: no-repeat;
    display: block;
}
.slide-prev{
	width: 32px;
    height: 59px;
    background-position: -5px -143px;
    display: block;
    margin-left: 6px;
    margin-top: 14px;
}
	.slide-control:hover .slide-prev{
		background-position: -5px -212px;
	}
.slide-right{
	width: 32px;
    height: 59px;
    background-position: -5px -5px;
    display: block;
    margin-left: 15px;
    margin-top: 14px;
}
	.slide-control:hover .slide-right{
		background-position: -5px -74px;
	}
.slide-control{
	position: absolute;
	display: block;
	width: 55px;
	height: 90px;
	top: 48%;
	background-color: rgba(204,204,204,0.7);
	cursor: pointer;
	z-index: 10;

}
	.slide-control.left{
		left: 0;
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
	}
	.slide-control.right{
		right: 0;
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}
.main-slider .carousel-caption{
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.gradient{
	position: absolute;
	width: 100%;
	height: 126px;
	bottom: 0;
	left: 0;
	background: url(../images/new/gradient.png)repeat-x;
}
.main-cap{
	background: url(../images/new/i.png)no-repeat;
	background-position: 100%;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'MyriadProLight';
	font-size: 17px;
}
.blog-img{
	width: 631px;
	height: 350px;
	float: left;
	position: relative;
}
.blog-desc{
	float: right;
	width: 330px;
}
.blog-sprite{
	background-image: url(../images/new/blog-sprite.png);
    background-repeat: no-repeat;
    display: block;
}
.view-icon{
	width: 20px;
    height: 13px;
    background-position: -5px -115px;
}
.heart-icon{
	width: 18px;
    height: 15px;
    background-position: -5px -90px;
}
.comment-icon{
	width: 16px;
    height: 16px;
    background-position: -5px -5px;
}
.blog-icon{
	display: inline-block;
	border: 1px solid #888;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 7px 4px;
}
	.icon-2{
		padding: 6px 4px;
	}
	.icon-3{
		padding: 6px 5px;
	}
.view-block,.heart-block,.comment-block{
	float: left;
	width: 33.3%;
	text-align: center;
}
.blog{
	padding-bottom: 25px;
	border-bottom: 1px solid #d9d9d9;
	font-family: 'MyriadProLight';
	color: #343434 !important;
	margin-bottom: 10px;
}
.more-arr{
	display: inline-block;
	width: 7px;
	height: 12px;
	background: url(../images/new/more-arr.png)no-repeat;
	position: relative;
	top: 3px;
	left: 2px;
}
	.more-info:hover .more-arr{
		background: url(../images/new/more-arr-h.png)no-repeat;
	}
.blog-desc h2{
	color: #343434;
	font-size: 32px;
	}
	.blog-desc .date{
		font-size: 16px;
		margin-top: 25px;
		font-size: 16px;
	}
		.blog-desc .date p{
			margin-bottom: 0;
		}
	.bolg-text{
		margin-top: 25px;
		font-size: 16px;
	}
.more-info{
	display: inline-block;
	float: right;
	font-size: 16px;
	margin-top: 15px;
	color: #343434 !important;
	font-size: 16px !important;
}
.blog-link{
	margin-top: 20px;
}
.idea{
	height: 50px;
	background-color: rgba(204,204,204,0.7);
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
.idea-block{
	background-color: #494949;
	width: 95px;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	margin-top: 10px;
	color: #fff;
	font-size: 16px;
	background-image:url(../images/new/idea.png);
	background-repeat: no-repeat;
	background-position: 77% 1px;
	padding-left: 19px;
    padding-top: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
}
.large-heart-block{
	position: absolute;
	width: 75px;
	height: 65px;
	top:0;
	left: 50%;
	margin-left: -32.5px;
	background-color: rgba(204,204,204,0.7);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
	.large-heart-icon{
	width: 57px;
    height: 49px;
    background-position: -5px -31px;
    margin-left: 10px;
    margin-top: 7px;
	}

	.blog-img:hover .large-heart-block,.blog-img:hover .idea,
	.photo:hover .large-heart-block, .photo:hover .idea{
		opacity: 1;
		visibility: visible;
	}
	
footer{
	background-color: #f0f0f0;
	height: 50px;
}
.footer{
	width: 980px;
	margin: auto;
	padding-top: 5px;
}
	.fac-icon{
		display: inline-block;
		width: 23px;
		height: 24px;
		background: url(../images/new/fac.png);
	}
	.vk-icon{
		display: inline-block;
		width: 23px;
		height: 24px;
		background: url(../images/new/vk.png);
		margin-left: 10px;

	}
.logo-foot{
	float: left;
	margin-top: 7px;
}
.foot-social{
	float: right;
}
	.foot-social p{
		margin-bottom: 0;
	}
	.var-l{
		position: relative;
		top: -8px;
	}
.tovar-block{
	float: left;
	width: 215px;
	text-align: center;
}
	.tovar-img{
		display: table-cell;
		vertical-align: middle;
		width: 215px;
		height: 185px;
		position: relative;
	}
	.tovar-slider .item{
		padding-right: 50px;
		padding-left: 50px;
	}

.tovar-prev{
	display: block;
	width: 32px;
	height: 59px;
	background: url(../images/new/tovar-prev.png);
}
	.tovar-prev:hover{
		background: url(../images/new/tovar-prev-h.png);
	}
.tovar-right{
	display: block;
	width: 32px;
	height: 59px;
	background: url(../images/new/tovar-next.png);
}
	.tovar-right:hover{
		background: url(../images/new/tovar-next-h.png);
	}
.tovar-control{
	position: absolute;
	top: 35%;
}
	.tovar-control.left{
		left: 0;
	}
	.tovar-control.right{
		right: 0;
	}
.add-basket-block{
	position: absolute;
	background: rgba(204,204,204,0.2);
	width: 95%;
	height: 50px;
	bottom: 20%;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	opacity: 0;
	visibility: hidden;
}
.add-basket{
	position: relative;
	display: block;
	width: 36px;
	height: 28px;
	margin: auto;
	margin-top: 10px;
	background: url(../images/new/add-basket.png);
	
}
	.tovar-block:hover .add-basket-block{
		opacity: 1;
		visibility: visible;
	}
.tovar-slider{
	padding-bottom: 5px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 15px;
}
.more{
	display: block;
	width: 95px;
	height: 30px;
	margin: auto;
	font-size: 16px;
	font-family: 'MyriadProLight';
	color: #fff !important;
	background-color: #494949;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: url(../images/new/more.png);
	background-repeat: no-repeat;
	background-position: 75% 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 5px;
	-webkit-transition: 0.2s background-color ease-in-out;
	-o-transition: 0.2s background-color ease-in-out;
	transition: 0.2s background-color ease-in-out;
}
	.more:hover{
		background-color: #303030;
	}
	.tovar-block h3{
		font-size: 18px;
		font-family: 'MyriadProLight';
	}
	.tovar-block p{
		font-size: 16px;
		font-family: 'MyriadProLight';
	}
.wrapper{
	width: 980px;
	margin: auto;
}
.enter-top{
	width: 100%;
	min-width: 980px;
	border-bottom: 1px solid #e6e6e6;
}
	.enter-top .wrapper{
		padding-left: 110px;
	}
.enter-block{
	width: 390px;
	position: relative;
	float: left;
	border-right: 1px solid #e6e6e6;
}
.register{
	padding-top: 35px;
	font-family: 'MyriadProLight';
	padding-left: 110px;
}
.register h2{
	font-size: 32px;
	margin-bottom: 45px;
	color: #343434;
}
.input-block{
	margin-bottom: 20px;
	color: #343434 !important;
	font-size: 16px;
}
	.input-block p{
		font-size: 18px;
		color: #343434;
		margin-bottom: 5px;
	}
	.input-block input[type="text"],.input-block input[type="password"]{
		width: 315px;
		height: 25px;
		border: 1px solid #d9d9d9;
		-webkit-border-radius: 5px;
		-moz-webkit-border-radius: 5px;
		-ms-webkit-border-radius: 5px;
		-o-webkit-border-radius: 5px;
		border-radius: 5px;
		outline: 0;
		padding-left: 10px;
		font-size: 16px;
		font-family: 'MyriadProLight';
	}
	.input-block input[type="checkbox"]{
		position: relative;
		top:2px;
	}
		.input-block input[type="submit"]{
			width: 95px;
			height: 30px;
			color: #fff !important;
			background-color: #494949;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			font-family: 'MyriadProLight';
			cursor: pointer;
			border: 0;
			outline: 0;
			font-size: 16px;
			background-image: url(../images/new/enter.png);
			background-repeat: no-repeat;
			background-position: 75% 10px;
			padding-right: 9px;
			-webkit-transition: 0.2s background-color ease-in-out;
			-o-transition: 0.2s background-color ease-in-out;
			transition: 0.2s background-color ease-in-out;
		}
			.input-block input[type="submit"]:hover{
				background-color: #303030;
			}
.else{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #595855;
	width: 42px;
	height: 42px;
	color: #fff;
	display: block;
	text-align: center;
	padding-top: 12px;
	font-size: 16px;
	font-family: 'MyriadProLight';
	position: absolute;
	top: 48px;
	right: -23px;
}
.input-block .more-info{
	float: left;
	margin-top: 0;
	text-decoration: none;
	color: #343434;
	font-size: 16px;
}
	.social-enter{
		float: left;
		width: 410px;
		padding-left: 65px;
		padding-top: 15px;
	}
	.social-link{
		display: block;
		width: 315px;
		height: 40px;
		text-decoration: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
		text-align: center;
		font-size: 18px;
		margin-bottom: 25px;
		background-repeat: no-repeat;
		background-position: 10%;
		padding-top: 11px;
		padding-left: 40px;
	}
		.enter-fac{
			background-color: #0182c4;
			background-image: url(../images/new/enter-fac.png);

		}
		.enter-vk{
			background-color: #4d75a3;
			background-image: url(../images/new/enter-vk.png);
		}
.social-enter p{
	line-height: 1.3;
	font-size: 16px;
}
.profile{
	display: block;
	text-decoration: none;
	width: 170px;
	height: 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	color: #343434;
	font-size: 16px;
	border:1px solid #d9d9d9;
	background-image: url(../images/new/profile.png);
	background-repeat: no-repeat;
	background-position: 90%;
	padding-left: 8px;
	padding-top: 3px;
}
.register-s{
	width: 160px !important;
	background-position: 97% !important; 
}
.register-p{
	margin-top: 90px;
}
.sidebar-block{
	float: left;
	width: 175px;
	font-family: 'MyriadProLight';
}
	.sidebar-block ul li{
		list-style: none;
	}
	.cat-list li a{
		font-size: 16px;
		color: #343434;
	}
	.cat-list{
		margin-left: 10px !important;
	}
.center-block{
	float: left;
	width: 790px;
	font-family: 'MyriadProLight';
	font-size: 16px;
	line-height: 1.3;
}
#mainContent .wrapper{
	padding-top: 10px;
}
.center-block .blog-img{
	width: 470px;
}
.center-block .blog-desc{
	width: 310px;
}
	.center-block .blog{
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
#mainArea{
	background: #fff;
}
.center-block .tovar-block{
	width: 168px;
}
.pagination-block ul li{
	list-style: none;
	float: left;
}

	.pagination-block ul li a{
		display: block;
		width: 28px;
		height: 28px;
		color: #343434;
		text-align: center;
		-webkit-border-radius: 5px;
		-moz-webkit-border-radius: 5px;
		-ms-webkit-border-radius: 5px;
		-o-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 3px;
	}
		.pagination-block ul li a.next-page{
			width: 95px;
			background-color: #494949;
			color: #fff;
			background-image: url(../images/new/next.png);
			background-repeat: no-repeat;
			background-position: 95%;
			padding-right: 10px;
		}
			.pagination-block ul li a.next-page:hover{
				opacity: 0.95;
			}
	.pagination-block ul{
		margin-left: 0;
		margin-bottom: 0;
		border: 1px solid #d9d9d9;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-family: 'MyriadProLight';
		font-size: 16px;
	}
		.pagination-block ul li a.active, .pagination-block ul li a:hover{
			background-color: #494949;
			color: #fff;
		}
.pagination-block{
position: relative;
  float: right;
  right: 50%;
  margin-top: 20px;
}
	.pagination-block ul{
  position: relative;
  float: left;
  left: 50%;
	}
	.new-homepage{
		width: 980px !important;
	}
.leftSideBar,.rightSideContent{
	font-family: 'MyriadProLight';
	font-size: 16px;
	color: #343434 !important;
}
.more-icon:before{
	content: "";
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../images/new/more-arr.png);
	position: relative;
	left: 1px;
}
.pro-header p{
	margin-left: 50px;
}
.pro-rating{
	margin-left: 0 !important;
}
.pro-rating .pro-review-string{
	font-size: 16px;
	color: #343434;
}
.select{
	font-size: 16px !important;
	
}
.slct {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	width: 170px;
	height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	color: #343434;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
	font-family: 'MyriadProLight';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../images/new/more-arr.png);
	background-repeat: no-repeat;
	background-position: 95%;

}
.slct.active {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid transparent;
	background-image: url(../images/new/list.png);
}
.drop {
	margin: 0;
	padding: 0;
	width: 170px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
	z-index: 2;
	margin-left: 0 !important;
	margin-top: -1px !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.drop li {
	list-style: none;
	cursor: pointer;
	display: block;
	color: #343434;
	padding-left: 10px;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	float: none !important;
}
	.drop li a:hover{
		color: #343434 !important;
	}
.drop li:last-child{
	float: none !important;
}
.drop li:hover {
	background-color: #e8e8e8;
	color: #343434;
}
.sidebar{
	border-bottom: 1px solid #d9d9d9 !important;
	padding-bottom: 7px !important;
	margin-bottom: 7px !important;
}
.down-icon:before{
	display: inline-block;
	content: "";
	width: 9px;
	height: 5px;
	background: url(../images/new/list.png);
	transform:none;
	position: relative;
	top: -1px;
}
.first-row, .headerContainer{
	overflow: inherit !important;
}
.photoMeta .pro-description{
	margin-top: 20px;
}
.photoMeta .view-block, .photoMeta .heart-block, .photoMeta .comment-block{
	width: 50%;
}
#mainContent{
	padding-bottom: 100px;
}
#list-child{
	margin-left: 10px;
}
.color-var{
	display: block;
	width: 23px;
	height: 23px;
	cursor: pointer;
	position: relative;
}
.list-colors li{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.col-del{
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../images/new/col-del.png);
	left: 50%;
	top: 50%;
	margin-top: -5px;
	margin-left: -5px;
	display: none;
}
	.color-var:hover .col-del{
		display: block;
	}
.sidebar .sidebar-header + .sidebar-body,.sidebar .sidebar-header{
	font-size: 16px !important;
}
.proSearch li{
	list-style:none;
}
.create-discus{
	display: block;
	width: 190px;
	height: 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:2px dashed #ccc;
	margin-right: 15px;
	text-align: right;
	padding-right:10px;
	color: #ababab !important;
	padding-top: 5px;
	background: url(../images/new/plus.png)no-repeat 7% 6px;
}
.tips-slct{
	position: relative;
	top:3px;
}
.whiteCard.tips .photo{
	width: 466px;
}
.whiteCard.tips .photoMeta{
	left: 466px;
}
 .whiteCard.tips .photoMeta .view-block,
 .whiteCard.tips .photoMeta .heart-block,
 .whiteCard.tips .photoMeta .comment-block{
 	width: 33.3%;
 }
 .photoInfo h2{
 	font-size: 32px;
 	color: #343434;
 }
  .photoInfo .date{
  	margin-top: 30px;
  }
 .photoInfo .date p{
	font-weight: bold;
	margin-bottom: 0;
 }
 .var-input{
 	text-align: center;
 }
 	 .var-input input:first-child{
 	 	margin-right: 40px;
 	 }
.col-10{
	width: 75%;
	float: left;
	font-family: 'MyriadProLight';
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-2{
	width: 25%;
	float: left;
	font-family: 'MyriadProLight';
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.field-discus input[type="text"],.field-discus textarea{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	outline: 0;
	border: 1px solid #d9d9d9 !important;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'MyriadProLight';
	font-size: 16px;
}
.field-discus input[type="text"]{
	height: 25px !important;
}
.field-discus textarea{
	height: 72px;
	resize:none;
	margin-bottom: 0;
}
.field-discus input[type="text"]::-webkit-input-placeholder {color:#bcbcbc;}
.field-discus input[type="text"]::-moz-placeholder          {color:#bcbcbc;}
.field-discus input[type="text"]:-moz-placeholder           {color:#bcbcbc;}
.field-discus input[type="text"]:-ms-input-placeholder      {color:#bcbcbc;}

.field-discus textarea::-webkit-input-placeholder {color:#bcbcbc;}
.field-discus textarea::-moz-placeholder          {color:#bcbcbc;}
.field-discus textarea:-moz-placeholder           {color:#bcbcbc;}
.field-discus textarea:-ms-input-placeholder      {color:#bcbcbc;}

.main-h3{
	font-family: 'MyriadProLight';
	font-size: 18px !important;
	color: #343434;
	font-weight: bold !important;
	margin-top: 15px !important;
	padding-left: 15px !important;
	margin-bottom: 10px !important;
}
.discus-p{
	font-weight: bold;
	font-size: 16px;
}
	.var-input input, .load-photo button{
		outline: 0;
		border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		 width: 95px !important;
		 height: 28px !important;
		 font-size: 16px;
		 font-family: 'MyriadProLight';
		 color: #fff !important;
		 background-color: #494949;
		 padding-bottom: 2px;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;
		 -webkit-transition: 0.2s background-color ease-in-out;
		 -o-transition: 0.2s background-color ease-in-out;
		 transition: 0.2s background-color ease-in-out;
	}
		.var-input input:hover,.load-photo button:hover{
			background-color: #303030;
		}
.load-photo{
	text-align: center;
	font-size: 16px;
}
	.load-photo p{
		margin-bottom: 2px !important;
	}
.load-photo button{
	width: 120px !important;
}
.col-2 .tips-slct{
	width: 170px;
	margin: 12px auto;
}
.profile-header {
  background: #888;
  position: relative;
}
.profile-header .profile-cover {
  position: relative;
  width: 100%;
  height: 345px;
}
.profile-header .profile-pic-container {
  position: absolute;
  bottom: 0;
  width: 200px;
  z-index: 1;
  bottom: 15px;
}
.profile-header .profile-cover img.cover-image {
  position: absolute;
  width: 100%;
  height: 345px;
}
.content-profile{
	padding-top: 103px !important;
}
.profile-header .profile-pic-border {
  display: block;
  width: 173px;
  height: 173px;
  position: absolute;
  bottom: -45px;
  left: 0;
  margin: 0 11px;
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
.profile-header .profile-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 205px;
  height: 152px;
  color: #fff;
}
.profile-header .custom-cover + .profile-info {
  background-color: rgba(0,0,0,0.28);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
  background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
  background-color: transparent;
}
.profile-header .profile-info .profile-title {
  position: relative;
  top: 50%;
  padding-right: 380px;
  padding-top: 20px;
  font-family: 'MyriadProLight';

}
.profile-header .profile-info .profile-full-name {
  font-size: 32px;
  line-height: 1.1;
}
.profile-header .profile-info a, .profile-header .profile-info a:hover {
  color: #fff;

}
.profile-link{
	background-color: #f0f0f0;
	border-bottom: 1px solid #d9d9d9;
	padding-left: 210px;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.profile-link ul li{
		list-style: none;
		float: left;
		margin-right: 10px;
		height: 43px;
		padding-left: 5px;
		padding-right: 5px;
		border: 1px solid transparent;
		font-size: 14px;
		font-family: Arial,sans-serif;
		text-transform: uppercase;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		
	}
		.profile-link ul li a{
			display: block;
			height: 45px;
			color: #343434;
			padding-top: 12px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.profile-link ul li a:hover{
				color: #343434;
			}
		.profile-link ul li.active,.profile-link ul li:hover{
			background-color: #fff;
			border: 1px solid #d9d9d9;
			border-bottom: 1px solid transparent;
		}

@media (max-width: 1279px){
	.rightSideContent .tovar-slider .tovar-block{
		width: 168px;
	}
	.rightSideContent .tovar-slider .item{
		padding-left: 45px;
	}
}